@font-face {
    font-family: "Kiwi";
    src: url(https://chaoticmaples.neocities.org/fonts/KiwiSoda.woff);
}


body {
    background-image: url("blackrock.png");
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
}


/* collect my container. bitch */

.container {
    display: grid;
    grid-template:
        "header header header"
        "music stamps main"
        "buttons buttons blink"
        "footer footer footer"
        / 1fr 2fr 3fr;
    grid-gap: 15px;
    padding: 25px;
    margin-top: 80px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 70px;
    background-image: url("tile.png");
    border: 5px solid rgb(3, 16, 84);
}



.container div {
    background-color: rgb(3, 16, 84);
    color: rgb(242, 248, 255);
    border: 5px solid;
    border-style: inset;
    font-family: "Kiwi";

}

.header {
    grid-area: header;
    text-align: center;
    max-height: 150px;
}


.music {
    grid-area: music;
    text-align: center;
    overflow-y: auto;
    max-height: 200px;
}

.stamps {
    grid-area: stamps;

    overflow-y: auto;
    max-height: 200px;
}

.main {
    grid-area: main;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
}

.blink {
    grid-area: blink;
    text-align: center;
    overflow-x: scroll;
    max-height: 50px;
    white-space: nowrap;
    display: flex;
    gap: 5px;

}

.footer {
    grid-area: footer;
    text-align: center;
    height: 25px;
}

.buttons {
    grid-area: buttons;
    text-align: center;
    height: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    max-height: 50px;
}

/* scroll bar style */

.header::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.header::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.music::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.music::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.stamps::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.stamps::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.main::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.blink::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.blink::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.footer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.footer::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}

.buttons::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: rgb(3, 16, 84);
}

.buttons::-webkit-scrollbar-thumb {
    background: rgb(57, 85, 194);
}




/* links aaaaa */

a:link {

    color: rgb(57, 85, 194)
}

a:visited {
    color: rgb(57, 85, 194);
}

a:hover {
    color: rgb(104, 144, 255);
}

/* HYPERLASER MY BABY */
.hyperlaser {
    z-index: 1;
    position: absolute;
    border: hidden;
}